<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rice Disease Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Rice Disease Prediction (testing)</h1>
        <form action="/predict" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" required>
            <button type="submit">Predict</button>
        </form>

        {% if prediction %}
        <div class="prediction-container">
            <div class="image-container">
                <h3>Uploaded Image:</h3>
                <img src="{{ url_for('static', filename=uploaded_image) }}" alt="Uploaded Image" class="uploaded-image">
            </div>
            <div class="solution-container">
                <h2>Predicted Disease: {{ prediction }}</h2>
                <h3>Solution:</h3>
                <div>{{ solution|safe }}</div>
            </div>
        </div>
        {% endif %}
    </div>
</body>
</html>
